<h1>Profile for: <%= @profile.name %></h1>
<h2>Assessments</h2>
<ul>
  <%- @assessments.each do |assessment| %>
    <li>
      <%= assessment.name %>

      <%= @checked_assessments[assessment.id]&.score %>

      <%- if @checked_assessments.key?(assessment.id) %>
        <%= link_to 'Edit', edit_profile_assessment_rating_path(@profile, assessment, @checked_assessments[assessment.id]) %>
      <%- else %>
        <%= link_to 'New', new_profile_assessment_rating_path(@profile, assessment) %>
      <% end %>
    </li>
  <% end %>
</ul>